html {
  height: calc(100% - 20px);
}

html,
body {
  min-height: calc(100% - 20px);
}

.align,
.cards-wrapper,
.user-card-content {
  display: flex;
}

body,
.container,
#root {
  height: 100%;
}

h1,
p,
h4 {
  margin: 0;
}

input,
select {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 5px;
}

input,
.user-card img {
  margin-right: 10px;
}

input,
select,
.user-card-content {
  padding: 0 10px;
}

.card-info h4,
.repo-info h5 {
  word-break: break-all;
}

.card-info > a,
.repo-info a {
  text-decoration: none;
}

.value,
.repo-info h5 span {
  font-style: italic;
}

header {
  padding: 10px 100px;
}

.align {
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

input {
  width: 300px;
}

.cards-wrapper {
  margin: 15px;
  flex-wrap: wrap;
}

.user-card {
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #efefef;
  flex: 0 1 calc(33.33% - 1em);
  max-width: calc(33.33% - 1em);
  padding: 10px 0;
}

.user-card img {
  height: 100px;
  width: 100px;
  border: 3px solid #ddd;
  background-size: cover !important;
  box-shadow: 0px 0px 10px #ddd;
}

.card-info > a {
  background-color: darkorange;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.card-info > a:hover {
  background-color: orange;
}

.repo-info a {
  color: darkblue;
}

.repo-info a:hover {
  color: crimson;
}

.value {
  color: gray;  
}

.repo-info h5 {
  margin: 5px 0;
  padding: 2px 0;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid #f2f2f2;  
}

.repo-info h5 span {
  font-weight: normal;
  text-transform: none;
  color: brown;
}

@media(max-width: 768px){
  .user-card {
    flex: 0 1 calc(50% - 1em);
    max-width: calc(50% -  1em);
  }

  header {
    padding: 10px;
  }

  .user-card-content {
    flex-direction: column;
    align-items: center;
  }

  .user-card img {
    margin-right: 0;
  }
}

@media(max-width: 540px){
  input {
    width: calc(60% - 10px);
  }

  select {
    width: 40%;
  }

  .cards-wrapper {
    margin: 0;
  }

  
}